# GitIgnore file, prevent files/folders
# from  being committed.
# remove all cached files git rm -r --cached .


# IntelliJ project files
*.iml
.idea/


# Built/Transpiled files
**/build/
**/src/**/*.js
**/src/**/*.js.map


# Misc
**/node_modules/
**/package-lock.json